/* 로그인 및 회원가입 페이지 */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F0F4F8; /* 아주 밝은 하늘색 */
}

/* login-box, signup-box */
.auth-container .login-box, .auth-container .signup-box {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 20px 0 20px 0;
}

.auth-container .login-box h1, .auth-container .signup-box h1 {
    font-size: 2rem;
    color: #1D3557; /* 어두운 파란색 */
    margin-bottom: 2rem;
}

/* input 박스 */
.auth-container input, .style-input {
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 1rem;
}

/* 버튼을 담는 div에 flex 추가하여 버튼 간 간격 조정 */
.auth-container .button-group {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* 버튼 사이 간격 1rem */
}

/* 버튼 스타일 */
.auth-container button, .next-btn {
    padding: 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* 로그인 버튼 */
.auth-container .login-btn {
    background-color: #A1C6FF; /* 하늘색 로그인 버튼 */
    color: white;
}

/* 회원가입 버튼 */
.auth-container .signup-btn {
    background-color: #1D3557; /* 어두운 파란색 회원가입 버튼 */
    color: white;
}

.auth-container button:hover, .next-btn:hover {
    opacity: 0.9;
}

/* Container 스타일 */
.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

/* Label 스타일 */
.label {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
    text-align: left;
}

/* Error 메시지 스타일 */
.error-message {
    color: red;
    font-size: 0.9rem;
    text-align: left;
}

/* 메인 컨테이너 */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F4F8; /* 배경 색상 */
}

/* 레이아웃 컨테이너 */
.layout-wrapper {
    width: 100%;
    max-width: 500px;
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px 0 20px 0;
}

/* 제목 스타일 */
.title {
    font-size: 2rem;
    color: #1D3557; /* 어두운 파란색 */
    margin-bottom: 2rem;
}

/* 폼 스타일 */
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* 각 입력 필드와 버튼 사이 간격 */
}

/* 기본 활성화 버튼 스타일 */
.next-btn.default {
    background-color: #1D3557;
    color: white;
}

/* 비활성화된 버튼 스타일 */
.next-btn.disabled {
    background-color: #A1C6FF;
    color: white;
    cursor: not-allowed;
}