/* 푸터 */
.footer-container {
    background: #333; /* 검은색 푸터 */
    color: #fff;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer-message {
    font-style: italic;
    margin-top: 0.5rem;
    color: #A1C6FF; /* 하늘색 메시지 */
}