/* 전체 레이아웃 */
.layout-container {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background: #f9f9f9;
    color: #333;
}

 /* 메인 콘텐츠 */
.layout-content {
    flex: 1; /* 메인 콘텐츠가 공간을 차지하도록 설정 */
    padding: 1rem;
}